parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$backup might not be defined\\.$#"
			count: 1
			path: templates/Admin/Backups/add.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 8
			path: templates/Admin/Backups/add.php

		-
			message: "#^Variable \\$backups might not be defined\\.$#"
			count: 1
			path: templates/Admin/Backups/index.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 13
			path: templates/Admin/Backups/index.php

